.Hashtag {
    color: green;
}

.HashtagList {
    margin: 20px 0 0 0;
    list-style-type: none;
}

.HashtagListItem.current {
    color: blue;
}
.Editor {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}
